<a href="https://colab.research.google.com/github/morsleslofi/morsleslofi/blob/main/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

Valor

In [67]:
dados = np.arange(6)

In [68]:
dados

array([0, 1, 2, 3, 4, 5])

In [71]:
dados.reshape((3,2))

array([[0, 1],
       [2, 3],
       [4, 5]])

DATA BASE

In [73]:
indice = ['RG', 'CPF', 'NIS/PIS', 'TELEFONE', 'AGÊNCIA', 'CONTA']
serie = Series(dados, index=indice)

In [74]:
serie

RG          0
CPF         1
NIS/PIS     2
TELEFONE    3
AGÊNCIA     4
CONTA       5
dtype: int64

In [75]:
serie['RG']

0

In [84]:
np.random.seed(25)
indice = ['RG', 'CPF', 'NIS/PIS', 'TELEFONE', 'AGÊNCIA', 'CONTA']
colunas = ['MICAEL', 'AMANDA', 'PERALTA', 'TOTORO', 'OREO', 'JOCA']
df = DataFrame(np.random.rand(36).reshape((6,6)), 
               index= indice,
               columns=colunas)
df

            MICAEL    AMANDA   PERALTA    TOTORO      OREO      JOCA
RG        0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
CPF       0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
NIS/PIS   0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
TELEFONE  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
AGÊNCIA   0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
CONTA     0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [86]:
df.loc[['RG','CPF'],['MICAEL', 'AMANDA']]

       MICAEL    AMANDA
RG   0.870124  0.582277
CPF  0.684969  0.437611

In [90]:
serie['RG':'CONTA']

RG          0
CPF         1
NIS/PIS     2
TELEFONE    3
AGÊNCIA     4
CONTA       5
dtype: int64